.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #1a4d6d !important;
  margin: 0 4px !important;
  border: 1px solid white;
}

.swiper-pagination-bullet-active {
  width: 20px !important;
  height: 20px !important;
  background-color: blue !important;
  border: 1px solid white;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #1a4d6d;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
  background-color: "background-blue";
}

.custom-swiper-pagination {
  display: flex;
  align-items: center;
  margin: 0 4px !important;
}


.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto !important;
  display: flex;
  justify-content: center;
}
